@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Playfair+Display:wght@600&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Playfair Display", serif;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
